# Ignore all .log files
*.log

# Ignore the node_modules/ directory
node_modules/

# Ignore all files in the temp directory
attendance/
attendance-2/
dowloaded/
custom-slider-swiper/
three js/
GSAP/
marquee.html
test-timeline.html
test-datatable.html
drop_down.html
drop_down_bkp.html
seo-blog-format.html
test.html